@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--
    Filename=about.cshtml,
    Author's name= Dilpreet Singh, gurpanth singh and sakib patel
    website = http://eshopy.azurewebsites.net/
    file description = this is website to sell electronics items.
-->


<p>on our website you can Shop Products. Laptops, Desktops & Tablets. Laptops & Ultrabooks. Shop By Featured
     Brands ..... Now at Canada electorincs store.
 </p>
