@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!--
    Filename=contact.cshtml,
    Author's name= Dilpreet Singh, gurpanth singh and sakib patel
    website = http://eshopy.azurewebsites.net/
    file description = this is website to sell electronics items.
-->

<address>
    Electronics Store<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:preet19@outlook.com">preet19@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:preet19@outlook.com">preet19@outlook.com</a>
</address>